:root {
  --color-blue: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 50px;
}

.nav__link {
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #000;
  line-height: 60px;
}

.nav__link:hover {
  color: var(--color-blue);
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__list .nav__item:not(:last-child) .nav__link {
  margin-right: 20px;
}

.nav__link.is-active {
  color: var(--color-blue);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  height: 4px;
  background: var(--color-blue);
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 8px;
}

.logo {
  display: flex;
}

.nav {
  text-transform: uppercase;
}
